  /*/////////////////////////////////////
 ///////////    Welcom     /////////////
/////////////////////////////////////*/

.welcom-block{  
    background: rgba(200,200,200,0.2);
    border-radius: 4px;
    box-sizing: border-box;

    align-content: center;
    justify-content: center;
    
    margin: 0px 20px;
    padding: 10px;
    
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    background-color: rgba(51,166,193,0.9);
}

.welcom-block > h2{
    text-align: center;
    flex-basis: 400px;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

  /*/////////////////////////////////////
 ////////   Image Gallery    ///////////
/////////////////////////////////////*/

.image-box{ 
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-item{
    background: rgba(200,200,200,0.2);
    border-radius: 6px;
    text-align: center;
    
    flex-basis: 200px;
    height: 100px;
    margin: 20px;
    overflow: hidden;
    
    min-height: 50px;
    height: 100%;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.image-item img{
    align-self: center;
    width: 100%;
    height: 100px;
    
    transition: transform 2s;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.image-item img:hover{
    transform: scale(1.4);
    transition: transform 2s; 
    
}

.image-text{
    margin: 0px 8px 10px 8px;
    overflow: hidden;
    
}

.image-text p{
    height: 5px;
    transition: height 1s;
}

.image-text p:hover{
    max-height: 100%;
    height: 100px;
    transition: height 1s;
}

