main {
    position: absolute;
    top: 175px;
    width: 100%;

}
section {
    margin: 0;
   background: green;
}
section h2 {
    font-family: Istok Web;
    font-size: 30px;
    color: white;
    border-bottom: solid 3px white;
    margin: 0;
    padding-top: 40px;
    display: block;
    text-align: center;
}
section p {
    margin: 0;
    font-family: Lora;
    display: block;
    width: 90%;
    padding: 33px;
    padding-bottom: 50px;
}

section img {
    display: block;
    margin: auto;
    padding-top: 40px;
    max-width: 100px;
    transform-origin: center 66%;

}
section img:hover {
    transform: rotate(360deg);
    transition: transform 2s;
}
.yellow {
    background: #F7E567;
}
.pink {
    background: #F172BA;
    color: white;
}

.blue {
    background: #005771;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
}



@media only screen and (min-device-width: 1020px) and min-width : 1020px {

    main {
        display: flex;
    }
}