  /*/////////////////////////////////////
 ////////   Basic settings    //////////
/////////////////////////////////////*/
html, body { min-height: 100vh; bottom: 0px; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}


  /*/////////////////////////////////////
 ////////    Sun background   //////////
/////////////////////////////////////*/

.sun{

    position: absolute; 
    height: 400px; /*used for gradient effect lenght*/
    
    right: 0px;
    left: 0px;
    top: 2%;
    bottom: 0px;
    
    z-index: -10;
    overflow: hidden;
    
    background: rgb(255, 93, 177);
    background: -moz-linear-gradient(top, rgba(255, 93, 177, 1) 0%, rgba(2, 200, 255, 0.33) 77%, rgba(241, 252, 93, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 93, 177, 1) 0%, rgba(2, 200, 255, 0.33) 77%, rgba(241, 252, 93, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 93, 177, 1) 0%, rgba(2, 200, 255, 0.33) 77%, rgba(241, 252, 93, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#f1fc5d', GradientType=0);
}

.sun img{
    /*  use for sun upgoing effect  */
    position: fixed;
    height: auto;
    width: 100%;  
}

  /*/////////////////////////////////////
 ////////   Sea background    //////////
/////////////////////////////////////*/

.ocean { 
    /*  use for sun / horizon effect  */
    position: absolute;

    width: 100%;
 
    top: 300px; /*Offset of waves*/  
    z-index: -5;
    bottom: 0px;

    overflow: hidden;
}

.aqaurium{
    position: relative;
    height: 100px; /*Wave height / repeat(modulo) */
}

.wave {
    background: url(../resources/images/wave.svg) repeat-x; 
    background-position: bottom;
    background-size: contain;

    position: absolute;

    width: 3200px; /*Needed for xscrolling*/
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);

    transform-origin: bottom;
    bottom: 0px;
}

.wave:nth-of-type(2) {
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

.sea{
    height : 100%;
    
    width: 100%;
    background: #015871;
}

  /*/////////////////////////////////////
 //////////    animations    ///////////
/////////////////////////////////////*/

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
      transform: scale3d(1,1,1);
  }
  50% {
      transform: scale3d(1,0.8,1);
  }
}